@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111827;
  color: white;
}
/* Estilos para tema oscuro */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #111827;
    color: white;
  }
}

/* Estilos para tema claro */
@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}